
entrypoint="index.html"
hidden=[".config"]
modules = ["web:v2-20230623-0b7a606", "nodejs-20:v8-20230920-bd784b9"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "npx serve . --listen 0.0.0.0:8000 --no-clipboard"]
build = ["sh", "-c", "npm install"]

[workflows]
runButton = "Serveur Web Debug"

[[workflows.workflow]]
name = "Serveur Web"
author = 40937354
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve . --listen 8000 --no-clipboard"

[[workflows.workflow]]
name = "Installation et Démarrage"
author = 40937354
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve . --listen 8000 --no-clipboard"

[[workflows.workflow]]
name = "Dev Utils"
author = 40937354
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"==== Informations Utiles ====\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"📊 Version Node: $(node -v)\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"📦 Version NPM: $(npm -v)\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"🔗 URL du serveur: http://0.0.0.0:8000\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"=============================\""

[[workflows.workflow]]
name = "Serveur Web Debug"
author = 40937354
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve . --listen 8000 --no-clipboard"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 35305
externalPort = 3001

[[ports]]
localPort = 40407
externalPort = 3002

[[ports]]
localPort = 45419
externalPort = 3000
