entrypoint="index.html"
hidden=[".config"]
modules = ["web:v2-20230623-0b7a606"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "npx serve -s ."]

[workflows]
runButton = "Serveur Web"

[[workflows.workflow]]
name = "Serveur Web"
author = 40937354
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve -s ."
